/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 * 
 *= require_self
 *= require_tree .
 */

#banner {
  background: rgba(0,0,0,0.85);
  height: 50px;
  padding: 30px 20px 10px 20px;
  font-family: Trebuchet MS;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  color: #fbfeff;
  text-align: center;
  line-height: 40px;

  img {
    float: left;
  }
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#columns {
  background: #adebeb;

  #main {
    margin-left: 17em;
    padding: 1em;
    background: white;
  }

//
  #side {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background: #adebeb;

    form, div {
      display: inline;
    }  
 
    input {
      font-size: small;
    }

    #cart {
      font-size: medium;
      color: #ff4d4d;

      h2 {
        text-transform: uppercase;
        font-size: large;
      }

      table {
        margin-bottom: 10px;
        background-color: rgba(255,255,255,0.4);
      }
    }

    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          color: #29a3a3;
          font-size: large;
          text-transform: uppercase;
          font-weight: bold;
          font-family: Trebuchet MS;
          line-height: 1.8em;
        }
        
        a:hover {
          color: #ff4d4d;
          background-color: rgba(0,0,0,0.0);
        }
      }
    }
  }
//
}

//
.depot_form {
  fieldset {
    background: #ebfafa;

    legend {
      color: #ffffff;
      background: rgba(0,0,0,0.85);
      font-family: sans-serif;
      padding: 0.2em 1em;
    }
  }

  form {
    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }

    select, textarea, input {
      margin-left: 0.5em;
    }

    .submit {
      margin-left: 4em;
    }

    br {
      display: none
    }
  }
}

.locale {
  float: right;
  margin: -0.25em 0.1em;
}
//
